// Primary
$primary-colour: #9e005d;

// Secondary
$secondary-colour1: #007AB8;
$secondary-colour2: #DD3113;
$secondary-colour3: #470028;
$secondary-color4: #D21D84;
$secondary-color5: #F69584;

// Black
$black: #343434;

// White
$white: #FFFFFF;

//Grey
$grey: #BFBFBF;
$light-grey: #F9F9F9;

$focus-blue: #005FCC;
