// Primary
$primary-colour: #9e005d;

// Secondary
$secondary-colour1: #005885;
$secondary-colour2: #A62811;
$secondary-colour3: #470028;

// Black
$black: #343434;

// White
$white: #FFFFFF;

//Grey
$light-grey: #F9F9F9;