// Primary
$primary-colour: #9e005d;

// Secondary
$secondary-colour1: #007ab8;
$secondary-colour2: #dd3113;
$secondary-colour3: #470028;
$secondary-colour4: #d21d84;
$secondary-colour5: #f9b2a9;

// Black
$black: #343434;

// White
$white: #ffffff;

//Grey
$grey: #bfbfbf;
$light-grey: #f9f9f9;
$topic-pill: #efefef;

$focus-blue: #005fcc;
