// Content
main {
	h2 {
		@include mq($mq-desktop) {
			text-align: center;
			padding: 40px 0;
		}

		@include mq($mq-tablet) {
			text-align: left;
			padding: 30px 20px;
		}
	}

	.welcome {
		.bg-image {
			padding: 140px 0;

			@include mq($mq-tablet) {
				padding: 20px;
			}

			h2 {
				text-align: center;
			}

			.slogan {
				font-size: 1.4em;
				font-weight: 700;
			}
		}
	}
	#hero {
		background-image: url('../img/Plumtree-hero-image.jpg');
	}

	#bg-help,
	#bg-blog {
		background-image: url('../img/Plumtree-bg-image.jpg');
	}

	#innov {
		background-color: $primary-colour;

		@include mq($mq-tablet) {
			padding-bottom: 20px;
		}

		.container {
			h2,
			p {
				color: $white;
			}

			@include mq($mq-desktop) {
				width: 60%;
				max-width: 1200px;
				margin: 0 auto;
			}

			@include mq($mq-tablet) {
				width: 100%;
				margin: 0px auto;

				p {
					margin-left: 20px;
					margin-right: 20px;
				}
			}
		}
	}

	#bg-blog {
		text-align: center;

		h3,
		p {
			text-align: left !important;
		}
		img {
			height: 220px;
		}
	}

	article {
		background-color: $white;
		padding: 0 20px 10px 20px;

		img {
			text-align: center;
		}

		h3 {
			a {
				text-decoration: none;
				color: $primary-colour;

				&:hover {
					text-decoration: underline;
				}
			}
		}
		.topic-pill {
			padding: 0.6em;
			font-size: 0.9em;
			border-radius: 2px;
			background-color: $topic-pill;
			vertical-align: middle;
		}
		.author {
			margin-top: 20px;
		}
	}

	.explore-ph {
		background-color: $secondary-colour4;
	}

	.explore-pc {
		background-color: $secondary-colour1;
	}

	.explore-pp {
		background-color: $secondary-colour2;
	}

	.explore-ph,
	.explore-pc,
	.explore-pp {
		padding: 30px 20px 0 20px;
		text-align: center;

		img {
			height: 120px;
		}

		p,
		h3 {
			color: $white;
		}
	}

	.sitemap,
	.copyright,
	.contact {
		margin-bottom: 20px;
	}

	#bg-blog {
		article {
			p {
				a {
					text-decoration: underline;

					&:hover {
						color: $secondary-colour1;
					}
				}
			}
		}
	}

	#bg-help {
		article {
			padding: 20px 20px 0 20px;
			text-align: center;

			img {
				height: 120px;
			}
		}
	}

	#getinvolved {
		.emph {
			font-size: 1.4em;
			color: $primary-colour;
			font-weight: 700;
		}
		.getinvolved-info {
			.cta {
				margin: 0;
			}
		}
		.getinvolved-image {
			text-align: center;

			img {
				height: 250px;
				padding: 20px 0;
			}
		}
	}

	// Screen reader only
	.sr-only {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		&:focus {
			outline: 3px solid $focus-blue;
			outline-offset: 4px;
		}
	}
	.btn-primary {
		background-color: $primary-colour;
		border: 2px solid $primary-colour;
		color: $white;
		font-size: 1.15em;
		display: inline-block;
		text-align: center;
		border-radius: 2px;
		vertical-align: middle;
		padding: 10px 16px;

		&:hover,
		&:focus {
			background-color: $white;
			color: $secondary-colour3;
			border: 2px solid $secondary-colour3;
			text-decoration: none;
		}

		&:focus {
			outline: 3px solid $focus-blue;
			outline-offset: 4px;
		}
	}

	.btn-secondary {
		background-color: none;
		border: 2px solid $white;
		color: $white;
		font-size: 1.15em;
		display: inline-block;
		text-align: center;
		border-radius: 2px;
		vertical-align: middle;
		padding: 10px 16px;

		&:hover,
		&:focus {
			background-color: $white;
			color: $secondary-colour3;
			border: 2px solid $white;
			text-decoration: none;
		}

		&:focus {
			outline: 3px solid $black;
			outline-offset: 4px;
		}
	}

	.btn-tertiary {
		background-color: $white;
		border: 2px solid $primary-colour;
		color: $primary-colour;
		font-size: 1.15em;
		display: inline-block;
		text-align: center;
		border-radius: 2px;
		vertical-align: middle;
		padding: 10px 16px;

		&:hover,
		&:focus {
			background-color: $primary-colour;
			color: $white;
			border: 2px solid $primary-colour;
			text-decoration: none;
		}

		&:focus {
			outline: 3px solid $focus-blue;
			outline-offset: 4px;
		}
	}

	.cta {
		padding-bottom: 50px;
	}
	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
	}
	.bg-image {
		background-position: center;
		background-size: cover;
		width: 100%;
		min-height: 400px;
		align-items: center;
		justify-content: center;

		h2 {
			max-width: 1200px;
			margin: 0 auto;
		}

		.cta {
			text-align: center;
		}

		.image-header {
			background-color: $white;
			border: 1px solid $grey;
			padding: 40px 20px;
			width: 60%;
			max-width: 1200px;
			margin: 0 auto;
			z-index: 1;
			text-align: center;

			@include mq($mq-tablet) {
				background-color: $white;
				border: none;
				padding: 60px 40px;
				width: 100%;
				margin: 0 auto;
			}

			h2 {
				font-size: 1.28em;
				padding: 15px 0 20px 0;
				color: $black;
			}
		}

		.alert {
			background-color: $primary-colour;
			width: 60%;
			max-width: 1200px;
			margin: 0 auto;
			text-align: center;

			@include mq($mq-tablet) {
				width: 100%;
				margin: 0 auto;
			}

			p {
				margin: 0;
				padding: 10px 0 8px 0;

				a {
					color: $white;
					text-decoration: underline;

					&:hover {
						color: $secondary-colour5;
					}

					&:focus {
						outline: 3px solid $white;
						outline-offset: 4px;
					}
				}
			}
		}
	}
}
