// Header
header {
    margin-top: 20px;
    padding: 20px;

    .wrapper {
        position: relative;
        width: 160px;
    }

    // Skip Link
    #skip-link {
        position: absolute;
        top: -120%;

        &:focus {
            align-items: center;
            justify-content: center;
            top: 0;
            left: 150%;
            width: 170px;
            outline: solid 2px $primary-colour;
            padding: 4px;
            display: flex;
        }
    }

    // Navigation
    nav {
        #hamburger {
            color: $white;
            background-color: $primary-colour;  
            font-size: 2rem;
            border: none;
            padding: 3px 6px 2px 6px;
        }

        ul[role="menubar"] {
            font-size: 1.15rem;
            list-style: none;
            margin: 0;
            padding: 0;

            a {
                text-decoration: none;
                color: $black;
                margin-left: 15px;

                i {
                    font-size: 0.8em;
                    padding-left: 5px;
                }
            }

            [role="menuitem"] {
                padding: 0.25em;
            }

            li {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            > li {
                display: inline;
                position: relative;
            }

            ul {
                position: absolute;
                display: none;
                left: 0;
                top: 20px;
                z-index: 0;
            }
        }
    }

}

// Footer
footer {
    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}

// Content
section {
    margin-bottom: 60px;
}

.sitemap, .copyright, .contact {
    margin-bottom: 20px;
}

// Screen reader only
.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Desktop */
@media only screen and (min-width: 992px) {
    header {
        nav {
            margin: 50px 0 0 0;

            #hamburger {
                display: none;
            }
        }
    }
}

/* Tablet */
@media only screen and (max-width: 992px) {
    header {
        margin-top: 0;

        #skip-link {
            display:none;
        }
        .wrapper {
            .logo {
                a img {
                    height: 80px;
                }
            }
        }
        nav {
            margin: 20px 0 0 0;

            ul.main-nav {
                display: none;
            }
            #hamburger {
                display: initial;
            }
        }
    }
}

/* Mobile */
@media only screen and (max-width: 768px) {
}