// Header
header {
    margin-top: 20px;
    padding: 20px;

    .wrapper {
        position: relative;
        width: 160px;

        a {
            &:focus {
                outline: 3px solid $focus-blue;
                outline-offset: 4px;
            }
        }
    }

    // Skip Link
    #skip-link {
        position: absolute;
        top: -120%;

        &:focus {
            align-items: center;
            justify-content: center;
            top: 0;
            left: 150%;
            width: 170px;
            outline: solid 2px $primary-colour;
            padding: 4px;
            display: flex;
        }
    }
}

// Navigation
nav {
    #hamburger {
        color: $white;
        background-color: $primary-colour;  
        font-size: 2rem;
        border: none;
        padding: 3px 6px 2px 6px;
    }

    .nav {
        margin: 20px 0 0 0;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 1.18em;
        font-weight: 700;

        li {
            float: left;

            i {
                font-size: 0.85em;
                padding-left: 6px;
            }

            > a {
                padding: 10px 15px;
                text-decoration: none;
                color: $black;

                &:hover,
                &:focus {
                    background: $primary-colour;
                    color: $white;
                    outline: 0;
                }
            }

            &:hover,
            &:focus {
                > a {
                    background: $primary-colour;
                    color: $white;
                    outline: 0;
                }

                ul {
                    left: 0;
                    opacity: 0.99;
                }
            }

            ul {
                &.show-menu {
                    left: 0;
                    opacity: 0.99;
                }

                li {
                    float: none;
                    position: static;
                    background-color: $light-grey;
                }

                a {
                    float: none;
                    display: block;
                    text-shadow: none;
                    transition: 0.1s linear all;

                    &:hover,
                    &:focus {
                        text-shadow: none;
                    }
                }
            }
        }
    }
    
    .list-reset {  
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

// Footer
footer {
    background-color: $secondary-colour3;
    width: 100%;

    > * {
        color: $white;
    }

    p, h2 {
        color: $white;
    }

    a {
        text-decoration: none;
        color: $white;
        
        &:hover {
            text-decoration: underline;
        }

        &:focus {
            outline: 3px solid $white;
            outline-offset: 4px;
        }
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .contact {
        .connect {
            ul {
                li {
                    display: inline;
                    padding-right: 10px;

                    a {
                        &:hover, &:focus {
                            i {
                                color: $grey;
                            }
                        }
                    }
                }
            }
        }

    }
}

// Content
main {
    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            outline: 3px solid $focus-blue;
            outline-offset: 4px;
        }
    }
    .btn-primary {
        background-color: $primary-colour;
        border: 3px solid $primary-colour;
        color: $white;
        font-size: 1.15em;
        font-weight: 700;
        display: inline-block;
        text-align: center;
        border-radius: 2px;
        white-space: nowrap;
        vertical-align: middle;
        padding: 16px;

        &:hover, &:focus {
            background-color: $white;
            color: $secondary-colour3;
            border: 3px solid $secondary-colour3;
            text-decoration: none;
        }
    }
    .cta {
        padding-bottom: 60px;
    }
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }
    .bg-image {
        background-position: center;
        background-size: cover;
        width: 100%;
        min-height: 400px;
        align-items: center;
        justify-content: center;

        h2 {
            max-width: 1200px;
            margin: 0 auto;
        }

        .cta {
            text-align: center;
        }

        .image-header {
            background-color: $white;
            border: 1px solid $grey;
            padding: 40px 20px;
            width: 60%;
            margin: 0 auto;
            z-index: 1;
            text-align: center;
        }
    }

    .welcome {
        .bg-image {
            padding: 140px 0;
        }
    }
    #hero {
        background-image: url("../img/Plumtree-hero-image.jpg");
    }

    #bg-help, #bg-blog {
        background-image: url("../img/Plumtree-bg-image.jpg");
    }
    article {
        background-color: $white;
        padding: 0 20px 30px 20px;

        h3 {
            a {
                text-decoration: none;
                color: $primary-colour;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .topic-pill {
            font-size: 0.875em;
            padding: 0.6em;
            background-color: $secondary-colour2;
            border-radius: 0.6em;
            text-decoration: none;
            color: $white;
        }
        .author {
            margin-top: 20px;
        }
    }
    
    .sitemap, .copyright, .contact {
        margin-bottom: 20px;
    }
    
    // Screen reader only
    .sr-only {
        border: 0;
        clip: rect(0,0,0,0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    
}

/* Desktop */
@media only screen and (min-width: 992px) {
    nav {
        margin: 40px 0;

        #hamburger {
            display: none;
        }
    }
    main {
        h2 {
            text-align: center;
            padding: 50px 0 60px 0;
        }
    }
    footer {
        .copyright {
            .pull-right {
               text-align: right;
            }
        }
    }
}

/* Tablet */
@media only screen and (max-width: 992px) {
    header {
        margin-top: 0;

        #skip-link {
            display:none;
        }
        .wrapper {
            .logo {
                a img {
                    height: 80px;
                }
            }
        }
    }

    main {
        h2 {
            text-align: left;
            padding: 30px 20px;
        }
        .welcome {
            .bg-image {
                padding: 0;
    
                .image-header {
                    background-color: $white;
                    border: none;
                    padding: 60px 40px;
                    width: 100%;
                    margin: 0 auto;
                }
            }
        }
    }

    nav {
        margin: 20px 0 0 0;

        .nav {
            display: none;
        }
        #hamburger {
            display: initial;
        }
    }
}

/* Mobile */
@media only screen and (max-width: 768px) {
}