header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main {
    .grid-container {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-gap: 30px;
        padding-bottom: 60px;

        article {
            position: relative;
            display: block;
        }
    }
}

footer {
    .sitemap {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        grid-gap: 20px;
    }

    .contact {
        display: grid;
        grid-gap: 20px;

        .footer-links {
            position: relative;
            display: block;
        }
    }

    .copyright {
        display: grid;
    }
}

@media only screen and (min-width: 992px) {
    /* Grid for desktop */
    footer {
        .contact {
            grid-template-columns: 50% 25% 25%;
        }
        .copyright {
            grid-template-columns: 50% 50%;
        }
    }
}

@media only screen and (max-width: 992px) {
    /* Grid for tablets */
    footer {
        .contact {
            grid-template-columns: 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
    /* Grid for mobile phones */
    footer {
        .contact {
            grid-template-columns: 100%;
        }
    }
}