// Header
header {
	margin-top: 20px;
	padding: 20px;

	@include mq($mq-tablet) {
		margin-top: 0;
	}

	.wrapper {
		position: relative;
		width: 160px;

		a {
			&:focus {
				outline: 3px solid $focus-blue;
				outline-offset: 4px;
			}
		}

		@include mq($mq-tablet) {
			.wrapper {
				.logo {
					a img {
						height: 60px;
					}
				}
			}
		}
	}

	// Skip Link
	#skip-link {
		position: absolute;
		top: -120%;

		&:focus {
			align-items: center;
			justify-content: center;
			top: 0;
			left: 150%;
			width: 170px;
			outline: solid 3px $primary-colour;
			padding: 4px;
			display: flex;
		}

		// TODO: check why doing this
		@include mq($mq-tablet) {
			display: none;
		}
	}
}
