html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
  }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

article,
footer,
header,
nav,
section {
  display: block;
}