* {
    word-spacing: 0.01em;
    letter-spacing: 0.02em;;
}

// Header Styles

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    line-height: 1.3em;
    color: $primary-colour;
}

h1 {
    font-size: 2.85rem;
    margin: 0;
}

h2 {
    font-size: 2.25rem;
    margin: 0;
}

h3 {
    font-size: 1.85rem;
}

h4 {
    font-size: 1.65rem;
}

h5 {
    font-size: 1.35rem;
}

h6 {
    font-size: 1.15rem;
}

// Text styles

p {
    color: $black;
    font-size: 1em;
    margin-bottom: 2em;
    line-height: 1.5em;
}

ul {
    li {
        line-height: 1.75em;
    }
}

footer {
    h2 {
        margin: 25px 0;
        font-size: 1.25em;
    }

    p {
        margin: 16px 0 0 0;
    }

    .connect {
        i {
            font-size: 2.4em;
        }
    }
}